<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>    

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/style.css">

    {% block stylesheets %} 
        
    {% endblock %}

  </head>

  <body class="fond">

    <h1>La Cuisine de Catherine</h1>
    <div class="">

      <nav class="navbar navbar-expand-lg  navbar-light bg-transparent col-12 " >
        <ul class="navbar-nav ml-auto" >
          {% if not app.user %}
          
            <li class="nav-item">
              <a class="nav-link" href="{{ path('app_login') }}"><i class="fa fa-user"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('app_register') }}"><i class="fa fa-address-card"></i></a>
            </li>                  
          {% else %}
              <li class="nav-item" >
                <a class="nav-link" href="{{ path('app_logout') }}"><i class="fa fa-sign-out"></i></a>
              </li>                    
          {% endif %}
        </ul>
      </nav>

    </div>
   
    <div class="col-12">
          <img class="img"  src="{{asset('/images/ihoqvy90.gif') }}" alt="souris">
    </div>
    
    <ul class="navbar-nav ml-auto " >
      {% if app.user %}
              <li class="nav-item ml-auto">
                  <a class="nav-link" href="#">Bonjour {{ app.user.username }}</a>
              </li>
          {% else %}
              <li class="nav-item ml-auto">
                  <a class="nav-link" href="#">Connectez vous ou inscrivez vous !!! </a>
              </li>
      {% endif %}
    </ul>

    <div class="" >
      <nav class="navbar navbar-expand-lg  navbar-light bg-transparent col-12 ">
        
          <a class="navbar-brand" href="{{ path('index') }}"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse align-items-center " id="navbarColor01">
            <ul class="navbar-nav centre ">
              <li class="nav-item active ">
                <a class="nav-link " href="{{ path('index') }}">Accueil <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ path('cocktails') }}">Cocktails </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Entrées </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Plats </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Crêpes/Galettes </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pâtes </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Sauces </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Desserts </a>
              </li>

              
            </ul>
            
          </div>
      </nav>
    </div>

    {% for message in app.flashes('message') %}
      <div class="jumbotron flash-info" style="text-align: center; color:blanchedalmond; background-color:blue ">
          <h3>{{ message }}</h3>
      </div>
    {% endfor %}
    
    <div class="container fond">
      {% block body %}{% endblock %}
    </div>

    <footer>
      <br>
      <a href="#" class="col-12 card-link" target="_blank"><font style= "font-size:20px; Color: #C0C0C0; text-align: center;"> Conditions Générales d'Utilisation </font>  </a>
  </footer>

  {% block javascripts %}
        
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  {% endblock %}

  </body>

</html>
